ORDUS_SYSTEM_URL=
ORDUS_DEMO_EMAIL=
ORDUS_DEMO_PASSWORD=
ORDUS_DEMO_LOCATION_ID=
GITHUB_TOKEN=
CLOUDFLARE_PAGES_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
GOOGLE_SEARCH_CONSOLE_KEY=
EVOLUTION_API_URL=
EVOLUTION_INSTANCE=
EVOLUTION_API_KEY=
WHATSAPP_LEANDRO=5519997052849
GOOGLE_SHEETS_ID=
SLACK_WEBHOOK_KAUAN=
NEXT_PUBLIC_SITE_URL=https://suporte.ordussystem.com.br
